.img-container{
    width: 100%;
    height: 100%;
}

div, h2{
    text-align:center;
}

input{
    margin:auto;
}

.inner-img-container{
    position: relative;
  text-align: center;
  color: white;

}

.image{
    float: left;
    height: 100vh;
    width: auto; 
    max-height: 100vh;
    margin: 0;
    max-width: 100vw;
}

.title{
    margin-top: 20px;
    right: 16px;
}

.explanation{
    margin-top: 8px;
    right: 16px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
    width: 25%;
    float: right;
  }
  
  .navigation {
    display: inline-block;
    padding: 10px;
  }